<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '지역선택' %> 
    <%= f.select(:region, options_for_select(
      [
        ["서울전체", "서울전체"], 
        ["강남구", "강남구"], 
        ["강동구", "강동구"], 
        ["강북구", "강북구"],
        ["강서구", "강서구"],
        ["관악구", "관악구"], 
        ["광진구", "광진구"],  
        ["구로구", "구로구"], 
        ["금천구", "금천구"], 
        ["노원구", "노원구"], 
        ["도봉구", "도봉구"], 
        ["동대문구", "동대문구"], 
        ["동작구", "동작구"], 
        ["마포구", "마포구"], 
        ["서대문구", "서대문구"], 
        ["서초구", "서초구"], 
        ["성동구", "성동구"], 
        ["성북구", "성북구"], 
        ["송파구", "송파구"], 
        ["양천구", "양천구"], 
        ["영등포구", "영등포구"],
        ["용산구", "용산구"], 
        ["은평구", "은평구"], 
        ["종로구", "종로구"], 
        ["중구", "중구"], 
        ["중랑구", "중랑구"]
      ])) %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
